.bg-lingua-aqua {
    background-color: #51A7E8;
}

body[data-theme="dark"] label button {
    background-color: #0D0E1C;
    border: 0;
}

.hyperlink {
    color: #0000EE;
}

body[data-theme="dark"] .hyperlink {
    color: #63B3ED;
}

input {
    background-color: #fff;
}

body[data-theme="dark"] input {
    background-color: #161634;
    border: 1px #2D2E6E solid;
    color: white;
}

body[data-theme="dark"] input::placeholder {
    color: #3F437F;
}

.container {
    margin: 1rem;
    padding: 1rem;
    border: 1px rgb(220, 220, 220) solid;
    background-color: white;
    border-radius: 8px;
    max-width: 97%;
}

.flex>.container {
    margin: 0;
}

body[data-theme="dark"] .container {
    background-color: #1C1C43;
    border: 1px solid #323378;
}