.bg-lingua-aqua {
    background-color: #51A7E8;
}

body[data-theme="dark"] label button {
    background-color: #0D0E1C;
    border: 0;
}

.hyperlink {
    color: #63B3ED;
}

input {
    background-color: #fff;
}

body[data-theme="dark"] input {
    background-color: #161634;
    border: 1px #2D2E6E solid;
    color: white;
}

body[data-theme="dark"] input::placeholder {
    color: #3F437F;
}

.page {
    padding: 16px;
}